################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/PicPay - TesteMobile/.vs/PicPay - TesteMobile/v15/Server/sqlite3/db.lock
