<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rodolfogusson.testepicpay"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PicPayTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="rodolfogusson.testepicpay.sendpayment.view.payment.PaymentActivity"
            android:parentActivityName=".sendpayment.view.contact.ContactListActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".sendpayment.view.register.CardRegisterActivity" />

        <activity
            android:name=".sendpayment.view.priming.CardPrimingActivity"
            android:parentActivityName=".sendpayment.view.contact.ContactListActivity" />

        <activity
            android:name=".sendpayment.view.contact.ContactListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>