<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.kassianoresende.picpay">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".application.PicPayApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.activities.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activities.CreditCardActivity"
                android:label="@string/title_activity_credit_card"
                android:parentActivityName=".ui.activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="br.com.kassianoresende.picpay.ui.activities.MainActivity"/>
        </activity>
        <activity
                android:name=".ui.activities.NewCreditCardActivity"
                android:label="@string/title_activity_new_credit_card"
                android:parentActivityName=".ui.activities.CreditCardActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="br.com.kassianoresende.picpay.ui.activities.CreditCardActivity"/>
        </activity>
        <activity
                android:name=".ui.activities.PayUserActivity"
                android:label="@string/title_activity_pay_user"
                android:parentActivityName=".ui.activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="br.com.kassianoresende.picpay.ui.activities.MainActivity"/>
        </activity>
        <activity
                android:name=".ui.activities.CreditCardListActivity"
                android:label="@string/title_activity_credit_card_list"
                android:parentActivityName=".ui.activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="br.com.kassianoresende.picpay.ui.activities.MainActivity"/>
        </activity>
        <activity
                android:name=".ui.activities.CheckoutActivity"
                android:label="@string/title_activity_checkout"
                android:parentActivityName=".ui.activities.CreditCardListActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="br.com.kassianoresende.picpay.ui.activities.CreditCardListActivity"/>
        </activity>

    </application>

</manifest>